/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 350%;
  padding-top: 1% !important;
  text-align: center;
  height: 445px;
  max-height: 445px;
  min-height: 445px;
}

body > h2 {
  font-size: 245.8%;
}

body > h3 {
  font-size: 183.3%;
}

body > h4 {
  font-size: 141.7%;
}

body > h5 {
  font-size: 120.8%;
}

body > h6 {
  font-size: 100%;
}

body > h1,
body > p,
body > menu {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 20% !important;
  margin-right: 20% !important;
  padding: 1%;
  background: #0b0501;
  border: 0;
  color: LimeGreen;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > h1,
  body > p,
  body > menu {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}

@media screen and (max-width: 600px) {
  body > h1,
  body > p,
  body > menu {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 1% !important;
    margin-right: 1% !important;
    padding: 3px;
  }
}

body > blockquote {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 1%;
  width: 19% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
  background: LimeGreen;
  border: 0;
  color: OrangeRed;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote {
    width: 30.8% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote {
    width: 15.46% !important;
  }
}

body > aside {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 1%;
  width: 19% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
  background: OrangeRed;
  border: 0;
  color: LimeGreen;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > aside {
    full: 11.8%;
    width: 30.8% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > aside {
    full: 11.8%;
    width: 15.46% !important;
  }
}

@media screen and (max-width: 600px) {
  body > blockquote,
  body > aside {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > aside {
    margin-bottom: 1.3% !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > blockquote,
  body > aside {
    margin-bottom: 1.6% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > aside {
    margin-bottom: 1.9% !important;
  }
}

body > ol > li {
  margin-left: 1% !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 1% !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ul > li {
    list-style: inside;
  }
}

body > img {
  max-width: 60% !important;
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 1% !important;
  margin-bottom: 0 !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  transition: all 1.2s ease-in-out;
}

@media screen and (max-width: 900px) {
  body > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden {
  margin-top: 1% !important;
  background-color: #0b0501 !important;
}

body > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 1.2s linear 0s, all 1.2s;
  visibility: visible;
}

body > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 1.2s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > blockquote.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 900px) {
  body > blockquote.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 900px) {
  body > .adonHideOnScrollDown {
    transition: all 1.2s;
    transition-timing-function: ease-in;
    -webkit-transition: all 1.2s;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

body > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive {
  background-color: #0b0501 !important;
  color: #fff;
}

body {
  font-family: "Bitter",sans-serif;
  background-color: #0b0501;
}

@media screen and (max-width: 600px) {
  body > h1 {
    height: 225px;
    max-height: 225px;
    min-height: 225px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > h1 {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > h1 {
    height: 450px;
    max-height: 450px;
    min-height: 450px;
  }
}

body > .adonHelloWorld {
  background: #fff;
  border: 0;
  color: LimeGreen;
}

body > .adonMadStuff {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  background-size: cover;
  background-image: url("https://elioway.gitlab.io/eliosin/icon/heaven/artwork/splash.jpg");
  opacity: 1;
}

body > .adonMadStuff.madactive {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  background-image: url("https://elioway.gitlab.io/eliosin/icon/hell/artwork/splash.jpg");
  opacity: 1;
}

body > .adonMadStuffCol {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  color: LimeGreen !important;
}

body > .adonMadStuffCol.madactive {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  color: OrangeRed !important;
}

a {
  color: DarkCyan;
}

a:visited {
  color: #00000c;
}

a:hover {
  color: #00f1f1;
}

a:active {
  color: #8b008b;
}

.fas:hover {
  filter: brightness(50%);
}
/*# sourceMappingURL=adon.css.map */
