@use "sass:math";

h1 {
  padding-top: $god-space !important;
  text-align: center;
  height: 445px;
  max-height: 445px;
  min-height: 445px;
  $adj: 4;
  @include tight {
    height: math.div($god-cosy, $adj);
    max-height: math.div($god-cosy, $adj);
    min-height: math.div($god-cosy, $adj);
  }
  $adj: 3;
  @include cosy {
    height: math.div($god-cosy, $adj);
    max-height: math.div($god-cosy, $adj);
    min-height: math.div($god-cosy, $adj);
  }
  $adj: 2;
  @include loose {
    height: math.div($god-cosy, $adj);
    max-height: math.div($god-cosy, $adj);
    min-height: math.div($god-cosy, $adj);
  }
}
