@import "../node_modules/@elioway/eve/stylesheets/mixins";
@import "./adons";

body {
  @include fontize_god($god-body);
  background-color: $pillar-color;
}

#{$container} {
  @import "pillar";
  @import "heaven";
  @import "hell";
  @import "h1/pillar";
  @import "adon/adonHelloWorld";
  @import "adon/adonMadStuff";
}

a {
  @include colorize_link(DarkCyan);
}

.fas:hover {
  filter: brightness(50%); // meh. light up FontAwesone icons
}
