.adonNavScrollLink {
  /// DEBUG: Twinned with /js/adon/adonNavScrollTo.js
  cursor: pointer !important;
}

.adonNavScrollLink.adonnavactive {
  /// DEBUG: Twinned with /js/adon/adonNavScrollTo.js
  background-color: $pillar-color !important;
  color: white;
}
