.adonMadStuff {
  /// DEBUG: adonMadStuff.js;
  // animation-name: fade-in;
  // animation-duration: 1s;
  // animation-iteration-count: 1;
  // animation-fill-mode: backwards;
  // animation-timing-function: ease-out;
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  background-size: cover;
  background-image: url("https://elioway.gitlab.io/eliosin/icon/heaven/artwork/splash.jpg");
  opacity: 1;
}

.adonMadStuff.madactive {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  background-image: url("https://elioway.gitlab.io/eliosin/icon/hell/artwork/splash.jpg");
  opacity: 1;
}

.adonMadStuffCol {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  color: $heaven-color !important;
}

.adonMadStuffCol.madactive {
  -webkit-transition: all 3000ms ease-out;
  -moz-transition: all 3000ms ease-out;
  -o-transition: all 3000ms ease-out;
  transition: all 3000ms ease-out;
  color: $hell-color !important;
}
